langchain-community
pandas
python-dotenv
snowflake-connector-python
langgraph
streamlit
openai
snowflake-sqlalchemy
langchain-openai
tiktoken
langchain
langchain-experimental
sqlalchemy
accelerate
hf_xet
langchain_huggingface
torch
torchaudio
torchvision
transformers==4.39.0
datasets
trl
huggingface_hub